
<h2 mat-dialog-title>Baja Usuario</h2>

<button disabled="true" class="mat-raised-button mat-primary">RFID</button>

  
<mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort>
  

    <ng-container  matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell [ngClass]="{'activo': selectedRowIndex == user.id_operador}" (click)="selectUsuario(user.id_operador)" *matCellDef="let user"> {{user.Nombre}} </td>
    </ng-container>
    <ng-container  matColumnDef="APP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Paterno</th>
      <td mat-cell [ngClass]="{'activo': selectedRowIndex == user.id_operador}" (click)="selectUsuario(user.id_operador)" *matCellDef="let user"> {{user.APP}}</td>
    </ng-container>
    <ng-container  matColumnDef="APM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Materno</th>
      <td mat-cell [ngClass]="{'activo': selectedRowIndex == user.id_operador}" (click)="selectUsuario(user.id_operador)" *matCellDef="let user"> {{user.APM}} </td>
    </ng-container>
   
     
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
    
 

<mat-dialog-actions align="end">
  <button class="mat-raised-button mat-primary" [mat-dialog-close]="datos" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>