<button color="warn" mat-fab [routerLink]="['/home']" routerLinkActive="router-link-active" >Regresar</button>

<button color="primary" mat-fab (click)="alta()" >Alta</button>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  

      <ng-container  matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell (click)="selectOperador(user)" *matCellDef="let user"> {{user.Nombre}} </td>
      </ng-container>
      <ng-container  matColumnDef="APP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Paterno</th>
        <td mat-cell (click)="selectOperador(user)" *matCellDef="let user"> {{user.APP}} </td>
      </ng-container>
      <ng-container  matColumnDef="APM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Materno</th>
        <td mat-cell (click)="selectOperador(user)" *matCellDef="let user"> {{user.APM}} </td>
      </ng-container>
    
       
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator MatPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
 

    