<!-- <mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Menu</h1>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-list>      
            <a mat-list-item (click)="regresar()"> Regresar </a>
            
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;"> -->

            <router-outlet></router-outlet>
   <!--      </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->