mat-grid-tile{
    border: 1px solid darkgrey;
    font-size: 120px;
    border-radius: 1rem;
}


.gridListItems mat-icon {
    cursor: pointer;
}
   
.gridListItems mat-grid-list {
    margin: 8px;
}
  
.gridListItems mat-grid-tile mat-icon {
    display: contents;
    font-size: smaller;
}
  
.gridListItems mat-grid-tile mat-grid-tile-footer {
    height: 36px;
}
.gridListItems mat-grid-tile mat-grid-tile-footer.activo {
    background: green;
}
.gridListItems mat-grid-tile mat-grid-tile-footer.inactivo {
    background: red;
}

.menu {
 cursor: pointer;
}


  
  